html { width: 100%; height: 100% }
body { width: 100%; height: 100%; min-height: 100%; background: #002B36; padding: 0; margin: 0; font-family: Helvetica, Arial, sans-serif }
/* menu, previously icon links with hover descriptions */
menu { margin: 0; padding: 0 }
menu div { display: inline-block }
menu button { margin: 0 0 0 2rem; outline: 0; background-color: transparent; border: none; display: block; float: left; white-space: nowrap; color: inherit; margin: 0 1rem 0 1rem; height: 3rem; line-height: 3rem; padding: 0 0.25rem; opacity: 0.8; font-size: 0.9rem; cursor: pointer; color: rgba(255, 255, 255, 0.75) }
menu button:hover { background-color: #000; color: #002B36 }
menu button:focus { color: #FFF }
menu button.active { background-color: #002B36; color: #FFF }
menu button img { height: 1rem; width: 1rem; margin: 0.9rem 1rem 0 0; display: block; float: left }
/* list table */
h2 { color: rgba(255, 255, 255, 0.5); font-weight: normal }
p { color: rgba(255, 255, 255, 0.5) }
table { border-collapse: collapse }
table, th, td { border: 1px solid rgba(255, 255, 255, 0.5) }
th { background-color: rgba(255, 255, 255, 0.5); color: rgba(0, 0, 0, 0.75); text-transform: uppercase; font-size: 1rem }
th, td { padding: 0.5rem; text-align: left }
td,
td a { color: rgba(255, 255, 255, 0.75) }
/* additional content for post ids, organization ownership, listing, deleting */
.content { padding: 20px }
.form { background-color: #002B36 }
.form-padder { background-color: rgba(0, 0, 0, 0.5); padding: 0.25rem }
label.title { display: block; margin: 1rem 0 0.5rem 0 !important; font-weight: normal !important; font-size: 0.9rem !important }
.post-information { background: #002B36; padding: 1rem; margin: 0 }
.post-information h2 { color: rgba(255, 255, 255, 0.75); font-size: 1.2rem; font-weight: bold; margin: 0 }
.post-information ul { margin: 0; padding: 0; list-style-type: none }
.post-information li { list-style-type: none; color: rgba(0, 0, 0, 0,75) }
.post-information label { margin-right: 0.5rem; font-weight: bold; color: rgba(255, 255, 255, 0.5); font-size: 1rem }
.post-information select { margin-right: 0.5rem; height: 1.6rem; min-width: 16rem; font-size: 1rem }
.post-information input[type=text] { margin-right: 0.5rem; width: 10rem; padding: 0.25rem 0.5rem; background-color: #DDD; color: #333; border: 1px solid #999; font-size: 1rem; font-weight: bold }
.post-information button { display: inline-block; margin-right: 0.5rem; font-size: 1rem; font-weight: bold; background-color: #000; border: 1px outset #999; border-radius: 0.25rem; color: #FFF; padding: 0.25rem 0.5rem }
.post-information h2 button { margin-right: 0; margin-left: 0.5rem }
.post-information div { margin-top: 0.5rem }
/* posts */
.post-container { position: relative; padding: 13px 43px 100px 40px }
textarea { border-color: transparent; outline: 0; background-color: rgba(0, 0, 0, 0.25); color: rgba(255, 255, 255, 0.75); padding: 0; font-family: monospace; font-size: 13px; width: 100%; height: 40rem }
#line-numbers { text-align: right; color: rgba(255, 255, 255, 0.5); z-index: -1000; position: absolute; top: 13px; left: 0; width: 30px }
#line-numbers ol { padding-top: 0; margin: 0; font-family: monospace }
#line-numbers li { font-size: 13px }
#post-preview { padding: 0; margin: 0; width: 100%; border: 0; outline: none; font-size: 13px; overflow: inherit; background: transparent }
#post-preview code { padding: 0; background: transparent !important }
/* solarized dark theme, Original Style from ethanschoonover.com/solarized (c) Jeremy Hull <sourdrums@gmail.com> */
.hljs { display: block; overflow-x: auto; padding: 0.5em; background: #002b36; color: #839496; }
.hljs-comment, .hljs-quote { color: #586e75; }
.hljs-keyword, .hljs-selector-tag, .hljs-addition { color: #859900; }
.hljs-number, .hljs-string, .hljs-meta .hljs-meta-string, .hljs-literal, .hljs-doctag, .hljs-regexp { color: #2aa198; }
.hljs-title, .hljs-section, .hljs-name, .hljs-selector-id, .hljs-selector-class { color: #268bd2; }
.hljs-attribute, .hljs-attr, .hljs-variable, .hljs-template-variable, .hljs-class .hljs-title, .hljs-type { color: #b58900; }
.hljs-symbol, .hljs-bullet, .hljs-subst, .hljs-meta, .hljs-meta .hljs-keyword, .hljs-selector-attr, .hljs-selector-pseudo, .hljs-link { color: #cb4b16; }
.hljs-built_in, .hljs-deletion { color: #dc322f; }
.hljs-formula { background: #073642; }
.hljs-emphasis { font-style: italic; }
.hljs-strong { font-weight: bold; }
/* mobile tweaks */
@media (max-width: 960px) {
  .mast h2 { font-size: 2.4rem; line-height: 3.2rem }
  .post-information h2 { font-size: 0.8rem; font-weight: normal }
  a.pure-button { font-size: 1.2rem !important; margin: 0 2rem 0 0 !important }
  menu button { font-size: 0.7rem !important; padding: 0 !important; margin: 0 0 0 1rem !important }
}
/* mobile tweaks */
@media (max-width: 640px) {
  input, select { width: 100% }
}